{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "trailingComma": "none",
        "arrowParens": "avoid",
        "proseWrap": "never"
      }
    }
  ]
}
